#feedbackform {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background: url("../../assets/img/home-bg.jpg");
    position: relative;
    align-items: center;
    justify-content: center;

  }
#feedbackform .feedback-container{
    width: 25%;
}
input.input1 {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    padding: 0 30px;
  }
  input.input1 + .shadow-input1 {
    border-radius: 25px;
  }
  
  textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
  }
  textarea.input1 + .shadow-input1 {
    border-radius: 25px;
  }
  
  /*---------------------------------------------*/
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input1 {
    display: block;
    width: 100%;
    background: #fbfafa;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
  }
  
  .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  .container-feedbackform-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feedbackform-btn:hover {
    background: #333333;
    color: #fbfafa;
  }